// @import "~bulma/sass/utilities/initial-variables";
// @import "~bulma/sass/utilities/functions";
// @import "~bulma/sass/utilities/mixins";
// @import '~bulma/sass/utilities/derived-variables';
@import '~bulma/sass/utilities/_all';

$body-background-color: #fff5ed;
$mobile: 624px;
$mini-mobile: 400px;
$link-hover: #848fc2;

$fullhd: $widescreen;

a:hover {
  color: red;
}
.container {
  @include until($desktop) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include from($desktop) {
    padding-left: 48px;
    padding-right: 48px;
  }
}

a > svg {
  @include until($mobile) {
    width: 28px;
    height: 28px;
  }
}

.parent .title.is-1 {
  @include until($tablet) {
    font-size: 2.5rem;
  }
  @include until($mobile) {
    font-size: 1.6rem;
    line-height: 1.3;
  }
}

#projects-title {
  @include until($mobile) {
    font-size: 2.5rem;
  }
}

.socials {
  @include until($mobile) {
    margin-left: 0px;
  }

  @include from($mobile) {
    margin-left: 24px;
  }
}

@media screen and (max-width: calc($mobile - 1px)) {
  .name-socials {
    flex-direction: column;
  }

  .name-socials .socials {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

// Adjust spacing between social icons for really small devices like iPhone 5
.socials svg {
  @include until($mini-mobile) {
    margin-right: 12px;
  }

  margin-right: 24px;
}

@import '~bulma/sass/base/_all';
@import '~bulma/sass/components/_all';
@import '~bulma/sass/elements/box';
@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/content';
@import '~bulma/sass/elements/icon';
@import '~bulma/sass/elements/image';
@import '~bulma/sass/elements/title';
@import '~bulma/sass/form/_all';
@import '~bulma/sass/grid/_all';
@import '~bulma/sass/helpers/typography';